VITE_LITEBILL_ADDRESS=0xYourDeployedContractAddress

VITE_LITVM_CHAIN_ID=4441
VITE_LITVM_CHAIN_NAME=LitVM LiteForge
VITE_LITVM_RPC_URL=https://liteforge.rpc.caldera.xyz/http
VITE_LITVM_WS_URL=wss://liteforge.rpc.caldera.xyz/ws
VITE_LITVM_EXPLORER_URL=https://liteforge.explorer.caldera.xyz

VITE_LITVM_CURRENCY_NAME=zkLTC
VITE_LITVM_CURRENCY_SYMBOL=zkLTC
VITE_LITVM_CURRENCY_DECIMALS=18
